<%= form_with(model: @product) do |form| %>
 

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description , rows:8, cols: 60%>
  </div>
  <br>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <br>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>